
   <section class="footer-section">
        <footer class="footer-md">
            <div class="container max-w-100 footer-main">
                <div class="row">
                    <div class="col-6 footer-lists-and-links">
                        <div class="row">
                        <div class="col-md-4">
                            <p class="footer-list-title">Development Resources</p>
                            <ul class="footer-list">
                                <li class="footer-list-item"><a href="https://www.w3.org/" class="footer-link">W3C Consortium</a></li>
                                <li class="footer-list-item"><a href="https://www.w3.org/developers/" class="footer-link">W3C Developers</a></li>
                                <li class="footer-list-item"><a href="https://www.internetsociety.org" class="footer-link">Internet Society</a></li>
                                <li class="footer-list-item"><a href="https://developer.mozilla.org/en-US/" class="footer-link">Mozilla Web Docs</a></li>
                                <li class="footer-list-item"><a href="http://creativecommons.org/" class="footer-link">Creative Commons</a></li>
                                <li class="footer-list-item"><a href="https://www.adobe.com/" class="footer-link">Adobe</a></li>
                                <li class="footer-list-item"><a href="https://developer.android.com/" class="footer-link">Android</a></li>
                                <li class="footer-list-item"><a href="https://developer.flaticon.com/landing" class=" footer-link">Flat Icon</a></li>
                                <li class="footer-list-item"><a href="https://www.khronos.org/" class=" footer-link">Khronos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="footer-list-title">CMS & Tools</p>
                            <ul class="footer-list">
                                <li class="footer-list-item"><a href="https://www.concrete5.org/" class="footer-link">Concrete5</a></li>
                                <li class="footer-list-item"><a href="https://www.drupal.org/" class="footer-link">Drupal</a></li>
                                <li class="footer-list-item"><a href="https://wordpress.com/" class="footer-link">Wordpress</a></li>
                                <li class="footer-list-item"><a href="https://dotcms.com/" class="footer-link">Dot CMS</li>
                                <li class="footer-list-item"><a href="https://neo4j.com/" class="footer-link">Neo4js</a></li>
                                <li class="footer-list-item"><a href="https://jfrog.com/artifactory/" class="footer-link">Jfrog</a></li>
                                <li class="footer-list-item"><a href="https://fontstruct.com/" class="footer-link">Fontstruct</a></li> 
                                <li class="footer-list-item"><a href="https://freedomdefined.org/Licenses" class="footer-link" rel="external">Free Cultural License</a></li>
                                <li class="footer-list-item"><a href="https://brave.com/" class="footer-link" rel="external">Brave Browser</a></li>
                                <li class="footer-list-item"><a href="https://astralinux.ru/en/" class="footer-link" rel="external">Astra Linux</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="footer-list-title">Developer Informatives</p>
                            <ul class="footer-list">
                                <li class="footer-list-item"><a href="http://www.kcomsystems.com/" class="footer-link" rel="author">Kcomsystems</a></li>
                                <li class="footer-list-item"><a href="https://stackoverflow.com/users/8157715/miciah-martin" class="footer-link" rel="author">Stack Overflow</a></li>
                                <li class="footer-list-item"><a href="https://slack.com/" class="footer-link" rel="author">Slack</a></li>
                                <li class="footer-list-item"><a href="https://www.instagram.com/miciah_martin/" class="footer-link" rel="author">Instagram</a></li>
                                <li class="footer-list-item"><a href="https://github.com/Miciah1" class="footer-link" rel="author">Github</a></li>
                                <li class="footer-list-item"><a href="https://www.linkedin.com/in/miciah-martin-b37125109/" class="footer-link">LinkedIn</a></li>
                                <li class="footer-list-item"><a href="https://www.facebook.com/miciahm/" class="footer-link" rel="author">Facebook</a></li>
                                <li class="footer-list-item"><a href="https://twitter.com/miciahmartin" class="footer-link" rel="author">Twitter</a></li>
                                <li class="footer-list-item"><a href="https://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?licKey=469959" class="footer-link" rel="author">KC&JFR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>                
                <div class="col-xl-6 col-lg-6 col-md-6 text-center">
                <div class="footer-right">                 
                    <img src="assets/img/MEAGLE/M2-Eagle-Logo-750x750px-white.png" class="footer-meagle" alt="M Eagle" title="Mount UP"/>
                        <img src="assets/img/Nav_Name.svg" class="ftr-brand" alt="Miciah Martin" title="Full Stack Development" />          
                </div>
                </div>
           </div>         
            </div>
            <div class="footer-bottom">
                <div class="container footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-lg-4 text-lg-left">
                         <p> Copyright 2016 - &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                        </p>
                    </div>      
                        <div class="col-lg-4 text-lg-right">                                                                   
                            <a class="mr-3 footer-link-bottom" href="privacy.html">Privacy Policy</a>
                            <a  class="footer-link-bottom" href="license.html">Terms of Use</a>
                            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png" title="" />
                            </a>
                        </div>
                    </div>
                </div>
        </footer>
    </section>