<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if site.author %}
        <meta content="{{ site.author }}" name="author"/>
        {% endif %}
        {% if site.title %}
        <meta content="{{ site.title }}" name="title"/>
        {% endif %}
        {% if page.title %}
          <meta content="{{ page.title }}"  name="title"/>
        {% else %}
          <meta content="{{ site.title }}" name="title"/>
        {% endif %}
        {% if page.excerpt %}
          <meta content="{{ page.excerpt }}" name="description"/>
        {% else %}
          <meta content="{{ site.description }}" name="description"/>
        {% endif %}
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
        <link rel="stylesheet" href="assets/css/styles.css" />
        <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>  
    </head>
    <body>
      
        {{ content }}
      
        {% include navigation.html %}
       <script type="text/javascript" src="/assets/js/bootstrap-js/bootstrap.bundle.min.js"></script>
       <script type="text/javascript" src="/assets/js/threejs/three.min.js"></script>
       <script type="text/javascript" src="/assets/js/mdx.js"></script>
    </body>
</html>
